
@{
    ViewBag.Title = "ProfileResult";
}
@using e3_1.Controllers
<ul>
    <li>
        name: @ViewBag.Name
    </li>
    <li>
        age: @ViewBag.Age
    </li>
    <li>
        marital_status: @ViewBag.MaritalStatus
    </li>
    <li>
        education:
        @if (ViewBag.edu != null)
        {
            @Html.CreateOrderedList(ViewBag.edu as List<string>);
        }

    </li>

</ul>
